
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title #{pageTitle}
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
  link(rel='stylesheet' href='/css/base.css')
  link(rel='stylesheet' href='/css/main.css')
  link(rel='stylesheet' href='/css/grid.css')
  link(rel='stylesheet' href='/css/responsive.css')
  link(rel='stylesheet' href='/assets/fonts/fontawesome-free-6.1.2-web/css/all.min.css')
  link(href='https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap' rel='stylesheet')
.app
  if(messages.success)
    .message.info
      div(
        class="alert alert-success"
        show-alert 
        data-time="5000"
      ) #{messages.success}
        span(close-alert) x
  if(messages.error)
    .message.info
      div(
        class="alert alert-error"
        show-alert 
        data-time="5000"
      ) #{messages.error}
        span(close-alert) x
  //- +alert-success(5000)
     

  header.header.header__fixed
    .grid.wide
      nav.header__navbar
        ul.header__navbar-list
          .header__logo
            img.header__logo-img(src='/assets/images/logo.png' alt='Logo')
        ul.header__navbar-list
          li.header__navbar-item
            .header__search
              form#form-search.form-search
                .form-search-box
                    input(type='text' value=keyword name='keyword' class='form-control header__search-input' placeholder= 'Enter your search')
                    button(class= 'header__search-btn' type='submit')
                      i.header__search-btn-icon.fa-solid.fa-magnifying-glass
          li.header__navbar-item
            button.notify__btn
              i.header__navbar-icon.fa-solid.fa-bell
          li.header__navbar-item
            button.notify__btn
              i.header__navbar-icon.fa-solid.fa-gear
          li.header__navbar-item.header__navbar-user
            img.header__navbar-user-img(src='/assets/images/nguyet_cute.jpg' alt='Em Nguyet Cute')
            span.header__navbar-user-name Min_27
            ul.header__navbar-user-menu
              li.header__navbar-user-item
                a.header__navbar-user-item-link(href='../home') Home
              li.header__navbar-user-item
                a.header__navbar-user-item-link(href='') My Account
              li.header__navbar-user-item.header__navbar-user-item--separate
                a(href='../historyPayment') History Payment
              li.header__navbar-user-item.header__navbar-user-item--separate
                a(href='../') Logout
  .app__container.app__container-fixed(checkbox-multi)
    .grid.wide
      .row.body__nav
        a(class="body__nav-link" href="#") #{pageTitle}
      .row.body__sub-nav
        .col.l-6
          .option_box
            //- button.create-acc-btn CREATE ACCOUNT
            a(
              href=`../dashboard/create`
              class="btn btn-outline-success btn-create-acc"
            ) CREATE ACCOUNT
              i.fa-solid.fa-user-plus
            form#form-7.form-status(action='/dashboard/change-multi?_method=PATCH' method='POST' form-change-multi)
              .form-select-status 
                select(name = "type" class="form-control")
                  option(disabled selected) --Choose Action--
                  option(value="active") Active
                  option(value="inactive") Inactive
                  option(value="delete-all") Delete All
              .form-status-box  
                input(type='text' name='ids' value='' class = 'input-status d-none')
                button.form-submit.form-submit-status Apply
        .col.l-6
          .grid
            .row.flex-filter-sort
              .col.l-3
                .btn-dropdown-box
                  i.btn-dropdown1.fa-solid.fa-caret-down
                  |                                             FILTER
                  i.fa-solid.fa-filter
              .col.l-3
                .btn-dropdown-box
                  i.btn-dropdown2.fa-solid.fa-caret-down
                  |                                             SORT
                  i.fa-solid.fa-sort
        .filter__form
          form#form-1.form.filter__form-box(action='' method='POST')
            .form-group
              p.form-group-title Filter By
              .form-group-radio
                input(type='radio' name='filter__method' value='by_age')
                | By Age
                input(type='radio' name='filter__method' value='by_status')
                | By Status
            .form-group.form-group-age
              p.form-group-title Filter By Age
              .form-group-radio
                .form-group-radio
                  input(type='radio' name='age' value='' filter='all')
                  | All
                  input(type='radio' name='age' value='Age <= 25' filter='age <= 25')
                  | Age <= 25
                  input(type='radio' name='age' value='26 <= Age <= 45' filter='26 <= age <= 45')
                  | 26 <= Age <= 45
                  input(type='radio' name='age' value='Age >= 46' filter='age >= 46')
                  | Age >= 46
            .form-group.form-group-status
              p.form-group-title Filter By Status
              .form-group-radio
                input(type='radio' name='status' value='')
                | All
                input(type='radio' name='status' value='blocked')
                | Inactive
                input(type='radio' name='status' value='unblocked')
                | Active
            button.form-submit.form-submit-display.filter__btn Filter
        .sort__form
          form#form-2.form-2.sort__form-box(action='' method='POST')
            .form-group.form-group-sort
              p.form-group-title Sort By Username
              .form-group-radio
                input(type='radio' name='sortByName' value='desc')
                | DESC
                input(type='radio' name='sortByName' value='asc')
                | ASC
            button.form-submit.form-submit-display2.sort__btn Sort
      .row.header__table
        .col.l-2
          .column__name
            | #{col_1}
        .col.l-2
          .column__name
            | #{col_2}
        .col.l-2
          .column__name
            | #{col_3}
        .col.l-2
          .column__name
            | #{col_4}
        .col.l-2
          .column__name
            | #{col_5}
        .col.l-2
          .header-table-check-box 
            .column__name
              | #{col_6}
            .check-box-all 
              input(type='checkbox' name='checkall' value='' )
                
      .grid.wide.body__table
      each item in accounts
        .row.table__row
            .col.l-2
              .table__row-item
                .user__box-item
                  img.user_img(src=item.avatar alt=item.username)
                | #{item.username}
            .col.l-2
              .table__row-item
                | #{item.phoneNumber}
            .col.l-2
              .table__row-item
                | #{item.address}
            .col.l-2
              .table__row-item
                | #{item.dateOfBirth}
            .col.l-2
              .table__row-item
                | #{item.formatLastEdited}
            .col.l-2
              .action__box
                .action__box-item
                  a.action__icon-link.btn_action.btn_pencil(href=`/dashboard/update/${item.id}`)
                    i.action__icon.fa-solid.fa-pencil
                  a.action__icon-link.btn_action(
                  button-delete data-id=item.id)
                    <i class="action__icon fa-solid fa-trash-can"></i>
                    
                  if(item.blocked == true)
                    a( btn-change-blocked class="action__icon-link btn_action btn-inactive"
                        data-id = item.id
                        data-status = 'inactive') 
                        <i class="fa-solid fa-user-plus"></i>
                  else
                    a( btn-change-blocked class="action__icon-link btn_action btn-active"
                        data-id = item.id
                        data-status = 'active') 
                        <i class="action__icon fa-solid fa-user-minus"></i>
                  input(type='checkbox' name='id' value=item.id class='input-checkbox')
                  

    ul.pagination.home-product__pagination
      if(pagination.currentPage > 1)
        li.pagination-item
          a(class="pagination-item__link" href="" link-pagination=pagination.currentPage-1)
            i.pagination-item__icon.fa-solid.fa-angle-left
      - for(var i = 1; i <= pagination.totalPages; i++)
          li(class=`pagination-item ${pagination.currentPage == i ? "pagination-item--active" : ""}`)
            a(class="pagination-item__link" href="" link-pagination=i) #{i}
      if(pagination.currentPage < pagination.totalPages)
        li.pagination-item
          a(class="pagination-item__link" href="" link-pagination=pagination.currentPage+1)
            i.pagination-item__icon.fa-solid.fa-angle-right

    form(
      action=""
      method="POST"
      id="form-change-status"
      data-path= `/dashboard/changeBlocked`
    )

    form(
      action=""
      method="POST"
      id="form-delete-acc"
      data-path= `/dashboard/delete`
    )
  
  //modal create acc
  .modal.modal_create_acc
    .modal__overlay
    .modal__body
      form#form-3.form.create-form(action='/dashboard/create' method='POST' enctype="multipart/form-data")
        .header__form
          h3.heading CREATE ACCOUNT
          button.btn-close
            i.btn-close-icon.fa-solid.fa-xmark
        .spacer
        .grid.row
          .col.l-6
            .form-group
              label.form-label(for='username') Username:
              input#username.form-control(name='username' type='text' placeholder='VD: john_doe')
              span.form-message
            .form-group
              label.form-label(for='email') Email:
              input#email.form-control(name='email' type='email' placeholder='VD: email@domain.com')
              span.form-message
            .form-group
              label.form-label(for='password') Password:
              input#password.form-control(name='password' type='password' placeholder='Enter your password')
              span.form-message
            .form-group
              label.form-label(for='confirmation_password') Confirm Password:
              input#confirmation_password.form-control(name='confirmation_password' type='password' placeholder='Confirm your password')
              span.form-message
            .form-group
              label.form-label(for='address') Address:
              input#address.form-control(name='address' placeholder='Enter your address' type='text')
              span.form-message
            .form-group
              label.form-label(for='phoneNumber') Phone Number:
              input#phoneNumber.form-control(name='phoneNumber' placeholder='Enter your phone number' type='text')
              span.form-message
          .col.l-6
            .form-group
              label.form-label(for='bankAccountName') Bank Account Name:
              input#bankAccountName.form-control(name='bankAccountName' placeholder='VD: JOHN DOE' type='text')
              span.form-message
            .form-group
              label.form-label(for='bankAccountNumber') Bank Account Number:
              input#bankAccountNumber.form-control(name='bankAccountNumber' placeholder='Enter your bank account number' type='text')
              span.form-message
            .form-group
              label.form-label(for='bank') Bank:
              select#bank.form-control(name='bank')
                option(value='') --Choose your bank--
                option(value='Bank of America') Bank of America
                option(value='Well Fargo') Well Fargo
                option(value='Morgan Stanley') Morgan Stanley
              span.form-message
            .form-group
              label.form-label(for='dateOfBirth') Date Of Birth:
              input#dateOfBirth.form-control(name='dateOfBirth' type='date')
              span.form-message
            .form-group
              label.form-label(for='gender') Gender:
              .gender__box
                .gender__box-item
                  input#gender.form-control(name='gender' type='radio' value='Female')
                  |  Female
                .gender__box-item
                  input#gender.form-control(name='gender' type='radio' value='Male')
                  |  Male
              span.form-message
            .form-group(upload-image)
              label.form-label(for='avatar') Avatar:
              input#avatar.form-control(name='avatar' type='file' accept="image/*" upload-image-input)
              img(
                src=""
                upload-image-preview
                class="image-prev"
              )
              span.form-message
        .row.col.l-12
          button.form-submit ADD
  // modal edit details acc
  .modal.modal_details_acc
    .modal__overlay.modal__overlay-details
    .modal__body
      form#form-4.form.details-acc-form(action='/dashboard/:id' method='POST'
        enctype='multipart/form-data'
      )
        .header__form
          h3.heading DETAILS ACCOUNT
          button.btn-close.btn-close-details
            i.btn-close-icon.fa-solid.fa-xmark
        .spacer
        .grid.row
          .col.l-4
            .avatar_box
              .avatar
                img.avatar_img(src='/assets/images/nguyet_cute.jpg' alt='')
              button.change-avatar-btn
                | Upload New Avatar
          .col.l-4
            .form-group
              label.form-label(for='username') Username:
              input#username.form-control(
                name='username' 
                type='text' 
                placeholder='VD: john_doe'
                
                )
              span.form-message
            .form-group
              label.form-label(for='email') Email:
              input#email.form-control(
                name='email' 
                type='text' 
                placeholder='VD: email@domain.com'
                )
              span.form-message
            .form-group
              label.form-label(for='password') Password:
              input#password.form-control(
                name='password' 
                type='password' 
                placeholder='Enter your password'
                )
              span.form-message
            .form-group
              label.form-label(for='confirmation_password') Confirm Password:
              input#confirmation_password.form-control(
                name='confirmation_password' 
                type='password' 
                placeholder='Confirm your password'
                )
              span.form-message
            .form-group
              label.form-label(for='address') Address:
              input#address.form-control(
                name='address' 
                placeholder='Enter your address' 
                type='text'
                )
              span.form-message
            .form-group
              label.form-label(for='phoneNumber') Phone Number:
              input#phoneNumber.form-control(
                name='phoneNumber' 
                placeholder='Enter your phone number' 
                type='text'
                )
              span.form-message
          .col.l-4
            .form-group
              label.form-label(for='bankAccountName') Bank Account Name:
              input#bankAccountName.form-control(
                name='bankAccountName' 
                placeholder='VD: JOHN DOE' 
                type='text'
                )
              span.form-message
            .form-group
              label.form-label(for='bankAccountNumber') Bank Account Number:
              input#bankAccountNumber.form-control(
                name='bankAccountNumber' 
                placeholder='Enter your bank account number'
                type='text'
                )
              span.form-message
            .form-group
              label.form-label(for='bank') Bank:
              select#bank.form-control(name='bank' )
                option(value='') --Choose your bank--
                option(value='Bank of America') Bank of America
                option(value='Well Fargo') Well Fargo
                option(value='Morgan Stanley') Morgan Stanley
              span.form-message
            .form-group
              label.form-label(for='dateOfBirth') Date Of Birth:
              input#dateOfBirth.form-control(
                name='dateOfBirth' 
                type='date'
                )
              span.form-message
            .form-group
              label.form-label(for='gender') Gender:
              .gender__box
                .gender__box-item
                  input#gender.form-control(name='gender' type='radio' value='Female')
                  |  Female
                .gender__box-item
                  input#gender.form-control(name='gender' type='radio' value='Male')
                  |  Male
              span.form-message
        .row.col.l-12
          button.form-submit UPDATE
  // modal detail admin acc
  .modal.modal_detail_admin_acc
    .modal__overlay.modal__overlay-detail-admin
    .modal__body
      form#form-6.form.details-acc-form(action='' method='POST')
        .header__form
          h3.heading YOUR ACCOUNT
          button.btn-close.btn-close-detail-admin
            i.btn-close-icon.fa-solid.fa-xmark
        .spacer
        .grid.row
          .col.l-4
            .avatar_box
              .avatar
                img.avatar_img(src='/assets/images/nguyet_cute.jpg' alt='Em Nguyet cute')
              button.change-avatar-btn
                | Upload New Avatar
          .col.l-4
            .form-group
              label.form-label(for='fullname') Username:
              input#fullname.form-control(name='fullname' type='text' placeholder='VD: john_doe')
              span.form-message
            .form-group
              label.form-label(for='email') Email:
              input#email.form-control(name='email' type='text' placeholder='VD: email@domain.com')
              span.form-message
            .form-group
              label.form-label(for='password') Password:
              input#password.form-control(name='password' type='password' placeholder='Enter your password')
              span.form-message
            .form-group
              label.form-label(for='confirmation_password') Confirm Password:
              input#password_confirmation.form-control(name='password_confirmation' type='password' placeholder='Confirm your password')
              span.form-message
            .form-group
              label.form-label(for='address') Address:
              input#address.form-control(name='address' placeholder='Enter your address' type='text')
              span.form-message
            .form-group
              label.form-label(for='phone_number') Phone Number:
              input#phone_number.form-control(name='phone_number' placeholder='Enter your phone number' type='text')
              span.form-message
          .col.l-4
            .form-group
              label.form-label(for='bank_acc_name') Bank Account Name:
              input#bank_acc_name.form-control(name='bank_acc_name' placeholder='VD: JOHN DOE' type='text')
              span.form-message
            .form-group
              label.form-label(for='bank_acc_number') Bank Account Number:
              input#bank_acc_number.form-control(name='bank_acc_number' placeholder='Enter your bank account number' type='text')
              span.form-message
            .form-group
              label.form-label(for='bank') Bank:
              select#bank.form-control(name='bank')
                option(value='') --Choose your bank--
                option(value='') Bank of America
                option(value='') Well Fargo
                option(value='') Morgan Stanley
              span.form-message
            .form-group
              label.form-label(for='date_of_birth') Date Of Birth:
              input#date_of_birth.form-control(name='date_of_birth' type='date')
              span.form-message
            .form-group
              label.form-label(for='gender') Gender:
              .gender__box
                .gender__box-item
                  input#gender.form-control(name='gender' type='radio' value='Female')
                  |  Female
                .gender__box-item
                  input#gender.form-control(name='gender' type='radio' value='Male')
                  |  Male
              span.form-message
        .row.col.l-12
          button.form-submit UPDATE
  // modal change avatar
  .modal.modal__change-avatar
    .modal__overlay.modal__overlay-avatar
    .modal__body
      form#form-5.form.change__avatar-form(action='' method='POST')
        .header__form
          h3.heading SELECT FILE
          button.btn-close.btn-close-change-avatar
            i.btn-close-icon.fa-solid.fa-xmark
        .spacer
        .row.col.l-12
          .form-group
            label.form-label(for='avatar') Avatar:
            input#avatar.form-control(name='avatar' type='file')
            span.form-message
        .row.col.l-12
          button.form-submit UPDATE
  footer.footer
    //- .grid.footer_background
script(src='/js/script.js')
//- // <script src="./validator.js"></script>
script.
  document.addEventListener('DOMContentLoaded', function () {
  // Mong muốn của chúng ta
  Validator({
  form: '#form-1',
  formGroupSelector: '.form-group',
  errorSelector: '.form-message',
  rules: [
  Validator.isRequired('#fullname', 'Enter your username!'),
  Validator.isEmail('#email'),
  Validator.minLength('#password', 6),
  Validator.isRequired('#password_confirmation'),
  Validator.isRequired('#address'),
  Validator.isRequired('#phone_number'),
  Validator.isRequired('#bank_acc_name'),
  Validator.isRequired('#bank_acc_number'),
  Validator.isRequired('#bank'),
  Validator.isRequired('#date_of_birth'),
  Validator.isRequired('#gender'),
  Validator.isRequired('#avatar'),
  Validator.isConfirmed('#password_confirmation', function () {
  return document.querySelector('#form-1 #password').value;
  }, 'Password error!')
  ],
  onSubmit: function (data) {
  // Call API
  console.log(data);
  }
  });
  });
script.
  document.addEventListener('DOMContentLoaded', function () {
  // Mong muốn của chúng ta
  Validator({
  form: '#form-2',
  formGroupSelector: '.form-group',
  errorSelector: '.form-message',
  rules: [
  Validator.isRequired('#fullname', 'Enter your username!'),
  Validator.isEmail('#email'),
  Validator.minLength('#password', 6),
  Validator.isRequired('#password_confirmation'),
  Validator.isRequired('#address'),
  Validator.isRequired('#phone_number'),
  Validator.isRequired('#bank_acc_name'),
  Validator.isRequired('#bank_acc_number'),
  Validator.isRequired('#bank'),
  Validator.isRequired('#date_of_birth'),
  Validator.isRequired('#gender'),
  Validator.isRequired('#avatar'),
  Validator.isConfirmed('#password_confirmation', function () {
  return document.querySelector('#form-2 #password').value;
  }, 'Password error!')
  ],
  onSubmit: function (data) {
  // Call API
  console.log(data);
  }
  });
  });
script.
  document.addEventListener('DOMContentLoaded', function () {
  // Mong muốn của chúng ta
  Validator({
  form: '#form-4',
  formGroupSelector: '.form-group',
  errorSelector: '.form-message',
  rules: [
  Validator.isRequired('#fullname', 'Enter your username!'),
  Validator.isEmail('#email'),
  Validator.minLength('#password', 6),
  Validator.isRequired('#password_confirmation'),
  Validator.isRequired('#address'),
  Validator.isRequired('#phone_number'),
  Validator.isRequired('#bank_acc_name'),
  Validator.isRequired('#bank_acc_number'),
  Validator.isRequired('#bank'),
  Validator.isRequired('#date_of_birth'),
  Validator.isRequired('#gender'),
  Validator.isRequired('#avatar'),
  Validator.isConfirmed('#password_confirmation', function () {
  return document.querySelector('#form-4 #password').value;
  }, 'Password error!')
  ],
  onSubmit: function (data) {
  // Call API
  console.log(data);
  }
  });
  });
script.
  document.addEventListener('DOMContentLoaded', function () {
  // Mong muốn của chúng ta
  Validator({
  form: '#form-5',
  formGroupSelector: '.form-group',
  errorSelector: '.form-message',
  rules: [
  Validator.isRequired('#fullname', 'Enter your username!'),
  Validator.isEmail('#email'),
  Validator.minLength('#password', 6),
  Validator.isRequired('#password_confirmation'),
  Validator.isRequired('#address'),
  Validator.isRequired('#phone_number'),
  Validator.isRequired('#bank_acc_name'),
  Validator.isRequired('#bank_acc_number'),
  Validator.isRequired('#bank'),
  Validator.isRequired('#date_of_birth'),
  Validator.isRequired('#gender'),
  Validator.isRequired('#avatar'),
  Validator.isConfirmed('#password_confirmation', function () {
  return document.querySelector('#form-5 #password').value;
  }, 'Password error!')
  ],
  onSubmit: function (data) {
  // Call API
  console.log(data);
  }
  });
  });
script.
  document.addEventListener('DOMContentLoaded', function () {
  // Mong muốn của chúng ta
  Validator({
  form: '#form-6',
  formGroupSelector: '.form-group',
  errorSelector: '.form-message',
  rules: [
  Validator.isRequired('#fullname', 'Enter your username!'),
  Validator.isEmail('#email'),
  Validator.minLength('#password', 6),
  Validator.isRequired('#password_confirmation'),
  Validator.isRequired('#address'),
  Validator.isRequired('#phone_number'),
  Validator.isRequired('#bank_acc_name'),
  Validator.isRequired('#bank_acc_number'),
  Validator.isRequired('#bank'),
  Validator.isRequired('#date_of_birth'),
  Validator.isRequired('#gender'),
  Validator.isRequired('#avatar'),
  Validator.isConfirmed('#password_confirmation', function () {
  return document.querySelector('#form-6 #password').value;
  }, 'Password error!')
  ],
  onSubmit: function (data) {
  // Call API
  console.log(data);
  }
  });
  });

script.
  document.addEventListener('DOMContentLoaded', function () {
  // Mong muốn của chúng ta
  Validator({
  form: '#form-3',
  formGroupSelector: '.form-group',
  errorSelector: '.form-message',
  rules: [
  Validator.isRequired('#fullname', 'Enter your username!'),
  Validator.isEmail('#email'),
  Validator.minLength('#password', 6),
  Validator.isRequired('#password_confirmation'),
  Validator.isRequired('#address'),
  Validator.isRequired('#phone_number'),
  Validator.isRequired('#bank_acc_name'),
  Validator.isRequired('#bank_acc_number'),
  Validator.isRequired('#bank'),
  Validator.isRequired('#date_of_birth'),
  Validator.isRequired('#gender'),
  Validator.isRequired('#avatar'),
  Validator.isConfirmed('#password_confirmation', function () {
  return document.querySelector('#form-3 #password').value;
  }, 'Password error!')
  ],
  onSubmit: function (data) {
  // Call API
  console.log(data);
  }
  });
  });
